.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
    overflow: hidden;
}

.overlayVisabile {
    visibility: visible;
    opacity: 1;
    .drawer {
        transform: translateX(0);
    }
}
.drawer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    z-index: 10;
    position: absolute;
    right: 0;
    height: 100%;
    width: 385px;
    background: #fff;
    box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
